<<<<<<< HEAD
a:link {
  text-decoration: none
}

@media (min-width:991px){
  #app-name{
    text-align: left;
  }

}
#profile-return-to-feed-btn{
  width: 134px;
  margin-top: 20px;
  
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;

}

#feed-heading{
  margin-top: 41px;
  margin-bottom: 41px;
}
#footer-feed-return-to-profile-btn{
  width: 144px;
}

#return-to-feed-btn {
  margin-right: 5px;
}

@media (max-width: 991px){
  #return-to-feed-btn {
    margin-bottom: 10px;
  }

  
  
}
=======
>>>>>>> origin/izzy

body{

}

#respond {
    margin-top: 40px;
<<<<<<< HEAD
    
=======
>>>>>>> origin/izzy
  }
  
  #respond input[type='text'],
  #respond input[type='email'],
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
<<<<<<< HEAD
  }
=======
  }

>>>>>>> origin/izzy
